SetEnv CALENDLY_TOKEN eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzU2NjM3OTAwLCJqdGkiOiJkNjNiMGQ0My1jYTFmLTRhNzUtOGQxYS04YjQ0NzI5OTZkYTgiLCJ1c2VyX3V1aWQiOiJCQ0hBV1RCRkgzNzVCNzZBIn0.WJj3L8VvkT4FDqGOnPgrL6dXAqCzPGaXBal7I6DoCG-szC1ABRdUrZRZ4oImjlSmmfQ_uUiW_kaQfXxx2YYgLw
SetEnv CALENDLY_ORG_URI https://api.calendly.com/organizations/FDBFVRADLNVQGYCY
SetEnv EVT_URI https://api.calendly.com/event_types/ADE2NXSJ5RCEO3YV